@import url('https://fonts.googleapis.com/css2?family=Corben&family=Poppins&display=swap');

body{
    user-select: none;
    scroll-behavior: smooth;
    scroll-snap-type: proximity y;
}
nav{
    background-color: #e84545;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.2rem;
}  
nav li{
    margin: 1rem;
    cursor: pointer;
    display: inline;
    color: white;
    font-family: 'Poppins', sans-serif;
}
nav li:hover{
    text-decoration: underline;
}
li a{
    color: white;
    text-decoration: none;
}
.jumbotron{
    font-family: 'Corben', cursive;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis:20px;
    margin-bottom: 0.2rem;
}
.jumbotron-image{
    display: flex;
    flex-basis: 100%;
}
.jumbotron-image img{
    width: 100%;
}
.jumbotron-text{
    flex-basis: auto;
    border-radius: 5px 0px 0px 5px;
    padding: 0px 15px 10px 16px;
    color: #fff;
    background-color: #2b2e4a;
}
#information{
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    background-color: #903749;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 0.2rem;
}
.information-image{
    display: flex;
    flex-basis: 35%;
}
.information-image img{
    width: 100%;
}
.information-text{
    width: 100%;
    margin: 0 auto;
    flex-basis: 50%;
    font-size: 1rem;
    color: white;
}
.information-text h2{
    text-align: center;
    margin-left: 0.5rem;
}
.text-value{
    text-align: right;
}
.text-label{
    text-transform: uppercase;
    padding-right: 5rem;
}
table{
    margin: 0 auto;
}
#facts{
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    padding: 1rem;
    background: #53354a;
    color: white;
    text-align: center;
    margin-bottom: 0.2rem;
}
#cat-facts{
    margin: 1.5rem 0;
}
#reload-facts{
    opacity: 80%;
}
#reload-facts:hover{
    cursor: pointer;
    opacity: 100%;
}
#gallery{
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 1rem;
    color: white;
    background: #903749;
    margin-bottom: 0.2rem;
}
.gallery-container-column{
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
}
.gallery-rows{
    display: flex;
    flex-direction: row;
}
.gallery-rows img{
    margin: 0.2rem;
    width: 20%;
    flex-basis: 100%;
}
#my-profile{
    border-radius: 5px;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    background: #2b2e4a;
    text-align: center;
    margin-bottom: 0.2rem;
    font-size: 1rem;
}
.display-picture img{
    border-radius: 100%;
    width: 15%;
    margin-bottom: 1rem;
}
.about{
    margin-bottom: 1rem;
}
footer{
    border-radius: 5px;
    padding: 0.1rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    background: #e84545;
    text-align: center;
    margin-bottom: 0.2rem;
    font-size: 1rem;
}
@media screen and (min-width:800px) {
    nav li{
        font-size: 1.3rem;
    }
    body{
        width: 75%;
        margin: 0 auto;
    }
    .description{
        font-size: 1.2rem;
    }
    .jumbotron-text h1{
        margin-top: 1.8rem;
        font-size:3rem; 
    }
    .pronounce{
        font-size: 1rem;
    }
    .jumbotron-text{
        padding: 0 2rem 2rem 2rem;
    }
    .information-text{
        margin-bottom: 1.3rem;
        font-size: 1.3rem;
    }
    #my-profile{
        border-radius: 5px;
        padding: 1rem;
        font-family: 'Poppins', sans-serif;
        color: white;
        background: #2b2e4a;
        text-align: center;
        margin-bottom: 0.2rem;
        font-size: 1.2rem;
    }
}
@media screen and (max-width:1000px) {
    .jumbotron{
        flex-direction: column-reverse;
    }
    .jumbotron-image img{
        width: 100%;
    }
    .jumbotron-text{
        border-radius: 0px 0px 5px 5px;
    }
    nav{
        border-radius: 3px;
    } 
    #information{
        flex-direction: column;
    }
    .information-image img{
        width: 100%;
    }
    .information-text{
        margin-top: 1rem;
    }
    .display-picture img{
        border-radius: 100%;
        width: 35%;
    }
    table{
        margin-bottom: 1rem;
    }
}